<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <form method="post" action="{{url_for('login')}}" role="login">
          <img src="https://media.istockphoto.com/vectors/male-swimmer-vector-id526727188?k=6&m=526727188&s=612x612&w=0&h=cR9sxqhhoKvg0fJEt5agvyvxjI1xdLEgz19wHJGYy48=" class="img-responsive" alt="" />
          <input name="username" placeholder="username" required class="form-control input-lg" />

          <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="abcd" />


          <div class="pwstrength_viewport_progress"></div>
          
          <input type="submit" ></a></li>


        </form>

        <div class="form-links">
        </div>
      </section>
      </div>

      <div class="col-md-4"></div>


  </div>




</div>
</html>