<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <title>SimmerDBProject</title>
    </head>
    <body>
        <h1> Welcome to the Swimmer Records Database</h1>
        <p>
            <p>Please login to access your records</p>
            <form method="POST" action="{{url_for('login')}}">
            <p>
            username: <input name="name" >
            <p>
            password: <input type="password" name="password" > 
            <p>
            <input type="submit" value="Login" >
            </form>
            
    </body>
</html> 
