<!DOCTYPE html> 
<html> 
    <body>
        <h1> Welcome, Emmeline</h1>
        <!--<p> You successfully logged in </p>
        <p> Here are your reccords:</p>
        {% if entry_records %}
        <table>
            {% for entry_record in entry_records %}
            <tr><td> {{entry_reccord.stroke}}  {{entry_reccord.distance}} {{entry_reccord.time}}  </td></tr>
            {% endfor %}
        </table>
        {%else}
        <p>No reccords found</p>
        {% endif %}-->
    </body>
</html> 
